h1{
    font-size: 50px;
}
body{
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
}
.name{
    color: rgb(145, 155, 114);
   
}

.half-width{ 
    width: 50%;
    float: left;
} 
.top-banner{
    background-image: url("top-banner.png");
    border: 1px solid red;
}
section a{
    float: none;
    color: red;
}