h1{
    font-size: 50px;
}
body{
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
}
.name{
    color: rgb(145, 155, 114);
   
}

.half-width{ 
    width: 50%;
    float: left;
    height: 500px;
    margin-bottom: 100px;
} 
.hi{ 
    width: 40%;
    float: left;
    border: 1px solid green;
    margin-right: 100px;
    margin-left: 20px;
    padding: 20px;
    padding-bottom:  20px;
    margin-bottom: 20px;
    box-shadow: 15px -20px 40px rgb(215, 214, 214);
    border-radius: 10px;
    height: 80%;
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
} 
.half-width img{ 

    height: 500px;
    margin-top: 20px;
} 
.top-banner{
    background-image: url("top-banner.png");
    border: 1px solid red;
}
section a{
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    border-radius: 8px;
    background: green;
    color: white;
    margin-left: 30px;
    display: inline-block;
    margin-top: 100px;
}
.link-button{
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 20px 30px;
}
section{
    height: 500px;
}